<div class='page-subtitle-container'>
    <p class='page-sub-title'>Update CoffeeSpot</p>
</div>
<div class='sign-in-form'>

	<%= form_for @coffeespot do |spot| %>

	  <%= spot.label :name %>
	  <%= spot.text_field :name %><br/><br/>

	  <%= spot.label :url %>
	  <%= spot.text_field :url %><br/><br/>

	  <%= spot.submit 'Edit Spot' %>

	<% end %>

	<%= link_to 'Back', coffeespot_path(@coffeespot.id) %>

</div>

