<% if user_signed_in? %>
    <%= link_to 'Add CoffeeSpot', new_coffeespot_path %>
<% end %>
<% if @coffeespots.any? %>
    <h2>CoffeeSpots</h2>
    <div class='coffeespot-list-container'>
        <ul>
            <% @coffeespots.each do |coffeespot| %>
                <div class='coffeespot-container'>
                    
                    <div class='coffeespot-title'>
                        Name:
                    </div>

                    <div class='coffeespot-name'>
                        <%= link_to coffeespot.name, coffeespot_path(coffeespot.id) %>
                    </div><br/>
                             
                    <div class='coffeespot-title'>
                        Url:
                    </div>
                    <div class='coffeespot-name'>
                        <%= link_to "#{coffeespot.url}", coffeespot.url %>
                    </div><br/>
                    
                    <% if coffeespot.reviews.any? %>

                        <div class='coffeespot-title'>
                            Reviews:
                        </div>

                        <ul>
                            <% coffeespot.reviews.each do |review| %>
                                <li>
                                    <div class='reviewer'>
                                        <%= link_to User.find_by_id(review.user_id).email, coffeespot_review_path(coffeespot.id, review.id) %>
                                    </div>
                                    <div class='rating'>
                                        <% review.rating.times do %>
                                            <%= image_tag '/assets/rating-star.png', alt: 'rating-star', class: 'rating-star' %>
                                        <% end %>
                                    </div>

                                    <div class='review'>
                                        <%= review.thoughts %>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                    <% else %>
                        <p>Reviews: No reviews yet</p>
                    <% end %>
                    <% if user_signed_in? %>
                        <p><%= link_to "Add Review for #{coffeespot.name}", new_coffeespot_review_path(coffeespot.id) %></p>
                    <% end %>
                </div>
            <% end %>
        </ul>
    </div>
<% end %>

