
<div class='main-container'>
    <% if user_signed_in? %> 
        <div class='container'>
            <a href=<%=new_coffeespot_path%> >
                <p class='new'>Click To Add</p>
                <p class='new'>Your Favourite</p>
                <p class='new'>CoffeeSpot</p>
                <div class='image-spacer'>
                </div>
                <%= image_tag '/assets/coffee.png', alt: 'coffee', class: 'coffee-image' %>
            </a>
        </div>
    <% end %>
    <% if @coffeespots.any? %>
        <% @coffeespots.each do |coffeespot| %>
            <div class='container'>
                <p class='name'>
                    <%= link_to coffeespot.name, coffeespot_path(coffeespot.id) %>
                </p>         
                <p class='url'>
                    <%= link_to "Visit coffespot webpage", coffeespot.url %>
                </p>
                <% if coffeespot.reviews.any? %>
                    <% average_review = 0 %>
                    <% coffeespot.reviews.each do |review| %>
                        <% average_review += review.rating %>
                    <% end %>
                    <% average_review /= coffeespot.reviews.count.ceil %>
                    <% average_review.times do %>
                        <%= image_tag '/assets/rating-star.png', alt: 'rating-star', class: 'rating-star' %>
                    <% end %>
                    <div class='reviews-box'>
                        <div class='small-spacer'>                        
                        </div> 
                        <% coffeespot.reviews.each do |review| %>
                            <p class='reviewer-link'>
                                <%= link_to User.find_by_id(review.user_id).email, coffeespot_review_path(coffeespot.id, review.id) %>
                            </p>
                            <p class='thoughts'>
                                <%= review.thoughts %>
                            </p>
                        <% end %>
                    </div>
                <% else%>
                    <p class='no-reviews'>No reviews yet</p>
                    <div class='no-reviews-spacer'>
                    </div>
                <% end %>
                <div class='add-review-button'>
                    <div class='thin-spacer'>
                    </div>
                    <a href=<%=new_coffeespot_review_path(coffeespot.id)%> >
                        <div class='add-review-container'>
                            <p class='add-review'>Add a Review</p>
                        </div>
                    </a>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
