<% if @coffeespots.any? %>
<h3>Known CoffeeSpots:</h3>
  <ul>
    <% @coffeespots.each do |spot| %>
    <li>
      <%= spot.name %> <a href="<%=spot.url%>">url</a>
      <%= link_to "Review #{spot.name}", new_coffeespot_review_path(spot.id) %>
      <%= link_to "Edit", edit_coffeespot_path(spot.id) %>
      <%= link_to "Delete #{spot.name}", coffeespot_path(spot.id), method: :delete, 'data-confirm' => 'Are you sure you want to delete this?' %>
      <ul>
      <% spot.reviews.each do |review| %>
        <li><%= review.thoughts %> (<%= review.rating %>)</li>
      <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no Coffee Spots yet.</h3>
<% end %>
<a href="/coffeespots/new">Add a CoffeeSpot!</a>
