
<div class='page-subtitle-container'>
    <p class='page-sub-title'>New Review</p>
</div>
<div class='sign-in-form'>

	<h3>Coffeespot Name: <%= @coffeespot.name %></h3>

	<h4>Coffeespot Url: <%= @coffeespot.url %></h4>

	<%= form_for [@coffeespot, @review] do |rev| %>

		<% @review.errors.full_messages.each do |message| %>
			<p><%= message %></p>
		<% end %><br/>

		<%= rev.label :rating, 'Rating:' %>
		<%= rev.select :rating, 1..5 %><br/><br/>

		<%= rev.label :thoughts, 'Thoughts' %><br/>
		<%= rev.text_area :thoughts %><br/><br/>

		<%= rev.submit 'Submit Review' %>

	<% end %>
</div>

