<!DOCTYPE html>
<html>
<head>
  <title>Coffeespots</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome to CoffeeSpots</h1>
<a href="/">home</a>
<p>CoffeeSpots is a way to guage the consistency of a cup of coffee in this city. Let us know how good that brew was!</p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
