<!DOCTYPE html>
<html>
	<head>
		<title>Coffeespots</title>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class='welcome-message-container'>	
			<% if user_signed_in? %>
				Welcom <%= current_user.email %>
			<% else %>
				Welcom Guest
			<% end %>
		</div><br/>

		<div class='system-messages-container'>
			<% if notice %>
				<%= notice %><br/><br/>
			<% end %>
			<% if alert %>
				<%= alert %><br/><br/>
			<% end %>
		</div>

		<div class='nav-buttons-container'>
			<% if user_signed_in? %>
				<%= link_to "Account", user_path(current_user.id) %>
				<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %>
				<%= link_to "Sign in", new_user_session_path %>
			<% end %>
			<%= link_to "Home", root_path %>
		</div>	
			
		<h1>Welcome to CoffeeSpots</h1>
	
		<p>CoffeeSpots is a way to guage the consistency of a cup of coffee in this city.</p>
		<p>Let us know how good that brew was!</p>

		<%= yield %>

	</body>
</html>
