<!DOCTYPE html>
<html>
	<head>
		<title>Coffeespots</title>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans|Marmelad|Julius+Sans+One' rel='stylesheet' type='text/css'>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class='nav-bar'>
			<div class='message-container'>	
				<% if user_signed_in? %>
					<div class='welcome-message'>Welcome <%= current_user.email %></div>
				<% else %>
					<div class='welcome-message'>Welcome Guest</div>
				<% end %>
				<div class='system-message'>
				<% if notice %>
					<div class='notice'>
						<%= notice %>
					</div>
				<% end %>
				<% if alert %>
					<div class='alert'>
						<%= alert %>
					</div>
				<% end %>
				</div>
				<div class='nav-buttons-container'>
					<% if user_signed_in? %>
						<div class='first-button'>
							<%= link_to "Account", user_path(current_user.id), class: 'nav-button' %>
						</div>
						<div class='second-button'>
							<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-button' %>
						</div>
					<% else %>
						<div class='first-button'>
							<%= link_to "Sign up", new_user_registration_path, class: 'nav-button' %>
						</div>
						<div class='second-button'>
							<%= link_to "Sign in", new_user_session_path, class: 'nav-button' %>
						</div>
					<% end %>
					<div class='third-button'>
						<%= link_to "Home", root_path, class: 'nav-button' %>
					</div>
				</div>				
			</div>
		</div>
		<div class='background'>
		</div>
		<div class='bg-spacer'>
		</div>
		<div class='main-body'>
			<div class='page-top'>
				<p class='page-title'>Welcome to CoffeeSpots</p>
			</div>
			<div class='spacer'>
			</div>
			<%= yield %>
		</div>
	</body>
</html>
